@using Library.EndPoint.Areas.Identity.Models;
@model EmailModel

@{
    ViewData["Title"] = "Send Email";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-6">
        <h1 class="bg-info text-white">@ViewData["Title"]</h1>

        <form asp-controller="Emails" asp-action="SendEmail" method="post">
            <span class="alert-danger">@ViewBag.Message</span>

            <div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="To" class="control-label">To: </label>
                            <input type="text" class="form-control" asp-for="To" required>
                            <span asp-validation-for="To" class="error"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Subject" class="control-label">Subject: </label>
                            <input type="text" class="form-control" asp-for="Subject" required>
                            <span asp-validation-for="Subject" class="error"></span>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group no-margin">
                            <label asp-for="Body" class="control-label">Body: </label>
                            <textarea class="form-control autogrow" asp-for="Body"
                                      style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 104px;" required></textarea>
                            <span asp-validation-for="Body" class="error"></span>
                        </div>
                    </div>
@*                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Attachment" class="control-label">File Attachment: </label>
                            <input type="file" class="form-control" asp-for="Attachment">
                            <span asp-validation-for="Attachment" class="error"></span>
                        </div>
                    </div>*@
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Email" class="control-label">Email: </label>
                            <input type="text" class="form-control" asp-for="Email" required>
                            <span asp-validation-for="Email" class="error"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Password" class="control-label">Password: </label>
                            <input type="text" class="form-control" asp-for="Password" required>
                            <span asp-validation-for="Password" class="error"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <a class="btn btn-default waves-effect" asp-action="Index">Back</a>
                <button type="submit" class="btn btn-info waves-effect waves-light" @*value="SendEmail" name="SendEmail"*@>SendEmail</button>
            </div>
        </form>
    </div>
</div>
