@using AppFramework.Application.Email;
@model EmailModel

@{
    ViewData["Title"] = "Send E";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-6">
        <h1 class="bg-info text-white">@ViewData["Title"]</h1>

        <form asp-controller="Emails" asp-action="SendE" method="post">
            <span class="alert-danger">@ViewBag.Message</span>

            <div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="FromAddress" class="control-label">From: </label>
                            <input type="text" class="form-control" asp-for="FromAddress" />
                            <span asp-validation-for="FromAddress" class="error"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="FromName" class="control-label">From Name: </label>
                            <input type="text" class="form-control" asp-for="FromName" />
                            <span asp-validation-for="FromName" class="error"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="ToAddress" class="control-label">To Address: </label>
                            <input type="text" class="form-control" asp-for="ToAddress" />
                            <span asp-validation-for="ToAddress" class="error"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="ToName" class="control-label">To Name: </label>
                            <input type="text" class="form-control" asp-for="ToName" />
                            <span asp-validation-for="ToName" class="error"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Subject" class="control-label">Subject: </label>
                            <input type="text" class="form-control" asp-for="Subject" />
                            <span asp-validation-for="Subject" class="error"></span>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group no-margin">
                            <label asp-for="Content" class="control-label">Body: </label>
                                <textarea class="form-control autogrow" asp-for="Content"
                                    style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 104px;">
                                </textarea>
                            <span asp-validation-for="Content" class="error"></span>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div>
                <a class="btn btn-default waves-effect" asp-action="Index">Back</a>
                <button type="submit" class="btn btn-info waves-effect waves-light">SendEmail</button>
            </div>
        </form>
    </div>
</div>
