@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a onclick="window.location.href='/Home/Details'">What i borrowd </a>
    <button type="button" onclick="window.location.href = '/Home/Details?Id=' + @id ;">Details</button>
</div>*@

