@using Identity.Application.DTOs.User
@model CreateUserDto
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <script src="/APTheme/vendor/dist/js/color-modes.js"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="sadeq">

    <title>Register</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/checkout/">

    @* <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3"> *@

    <link href="/APTheme/vendor/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/register.css" rel="stylesheet">
</head>

<body class=" bg-body-tertiary">
    <div class="container">
        <main>
            <div class="py-4 text-center">
                <img class="d-block mx-auto mb-4" src="/APTheme/img/logo.png" alt="" width="72" height="57">
                <h2>Register to Library</h2>
                <p class="lead">Hello. To use the library facilities, you must register here to be authenticated. We want you to be aware that this validation is to ensure the return of our books.</p>
            </div>

            <div class="row g-4">
                <form asp-controller="Account" asp-action="Register" method="post">
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label asp-for="FirstName" class="form-label">First name</label>
                            <input asp-for="FirstName" type="text" class="form-control" id="firstName" placeholder="" value="" required>
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>

                        <div class="col-sm-6">
                            <label asp-for="LastName" class="form-label">Last name</label>
                            <input asp-for="LastName" type="text" class="form-control" id="lastName" placeholder="" value="" required>
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>

                        <div class="col-sm-6">
                            <label asp-for="UserName" class="form-label">Username</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text">@@</span>
                                <input asp-for="UserName" type="text" class="form-control" id="username" placeholder="Username" required>
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <label asp-for="Email" class="form-label">Email</label>
                            <input asp-for="Email" type="email" class="form-control" id="email" placeholder="you@example.com" required>
                            <span asp-validation-for="Email" class="text-bg-danger"></span>
                        </div>
                        <div class="col-sm-6">
                            <label asp-for="Password">Password</label>
                            <input asp-for="Password" type="password" class="form-control" id="inputPassword" placeholder="Password">
                        </div>
                        <div class="col-sm-6">
                            <label asp-for="ConfirmationPassword">Confirm Password</label>
                            <input asp-for="ConfirmationPassword" type="password" class="form-control" id="confirmInputPassword" placeholder="Confirm Password">
                        </div>
                        <div class="form-group">
                            <label asp-for="BirthDate" class="form-label">Birthdate</label>
                            <input asp-for="BirthDate" type="text" class="form-control" id="birthdate" placeholder="" required>
                            <span asp-validation-for="BirthDate" class="text-bg-danger"></span>
                        </div>
                        <hr class="my-4">
                    </div>

                    <div class="form-group">
                        <input class="form-check-input" type="checkbox" name="remember-me" id="remember-me" />
                        <label for="remember-me" class="form-check-label">Remember me !</label>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="agreeTerms">
                        <label class="form-check-label" for="agreeTerms">Agree to terms and conditions.</label>
                    </div>

                    <hr class="my-4">

                    <button asp-controller="Account" asp-action="Register" class="w-100 btn btn-primary btn-lg" type="submit">Register to library</button>
                </form>
                <div class="text-center mt-1">
                    <a asp-controller="Account" asp-action="Login" class="small">I am already member</a>
                    &nbsp; | &nbsp;<a class="small" href="#">Forgot Password?</a>
                </div>
            </div>
        </main>

        <footer class="pt-5 text-body-secondary text-center text-small">
            <p class="mb-1">&copy; 2023 Library II</p>
        </footer>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="/APTheme/vendor/jquery/jquery-3.7.1.min.js"></script>
    <script src="/APTheme/vendor/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>