@using Library.EndPoint.MVC.Areas.adminPanel.Models;

@model BookCreateViewModel

@{
    ViewData["Title"] = "Create Book";
}


<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" method="post" enctype="multipart/form-data">

            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Title">Book Title:</label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Picture" class="control-label">Upload Picture:</label>
                <input type="file" name="pictureFile" class="form-control" />
                <span class="text-danger" asp-validation-for="Picture"></span>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ISBN">ISBN:</label>
                    <input asp-for="ISBN" class="form-control" />
                    <span asp-validation-for="ISBN" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Code">Code:</label>
                    <input asp-for="Code" class="form-control" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Description">Description:</label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="CategoryId" class="control-label">Choose a Category</label>
                        <select class="form-control" asp-for="CategoryId"
                                asp-items='new SelectList(Model.BookCategories, "Id", "Name")'>
                            <option value="">Select Category</option>
                        </select>
                        <span class="text-danger" asp-validation-for="CategoryId" class="error"></span>
                    </div>
                </div>
            </div>


            <div class="input-group p-2">
                <label type="text" class="control-label">Authors: &nbsp;</label>
                <select class="form-select" id="authorInput" asp-items='new SelectList(Model.Authors,"Name")'>
                    <option selected>Choose Author...</option>
                </select>
                <button type="button" id="addAuthorButton" class="btn btn-outline-secondary">Add</button>
            </div>
            <div class="p-1">
                <ul id="selectedAuthorsList" class="list-group" name="SelectedAuthors">
                    <!-- selected list... -->
                </ul>
                <span id="duplicateAuthorError" class="text-danger"></span>
            </div>

            <div class="input-group p-2">
                <label type="text" class="control-label">Publishers: &nbsp;</label>
                <select class="form-select" id="publisherInput" asp-items='new SelectList(Model.Publishers,"Name")'>
                    <option value="">Choose Publisher...</option>
                </select>
                <button type="button" id="addPublisherButton" class="btn btn-outline-secondary">Add</button>
            </div>
            <div class="p-1">
                <ul id="selectedPublishersList" class="list-group">
                    <!-- selected list... -->
                </ul>
                <span id="duplicatePublisherError" class="text-danger"></span>
            </div>

            <div class="input-group p-2">
                <label type="text" class="control-label">Translators: &nbsp;</label>
                <select class="form-select" id="translatorInput" asp-items='new SelectList(Model.Translators,"Name")'>
                    <option value="">Choose Translator...</option>
                </select>
                <button type="button" id="addTranslatorButton" class="btn btn-outline-secondary">Add</button>
            </div>
            <div class="p-1">
                <ul id="selectedTranslatorsList" class="list-group">
                    <!-- selected list... -->
                </ul>
                <span id="duplicateTranslatorError" class="text-danger"></span>
            </div>

            <input type="hidden" name="SelectedAuthors" id="SelectedAuthors" />
            <input type="hidden" name="SelectedPublishers" id="SelectedPublishers" />
            <input type="hidden" name="SelectedTranslators" id="SelectedTranslators" />
            <div class="p-2">
                <button type="submit" class="btn btn-primary">Save</button>
                <a asp-action="Index" class="btn btn-secondary">Back To Book List</a>
            </div>

        </form>
    </div>
</div>


<script src="~/APTheme/js/CreateBook.js"></script>



