@using Library.EndPoint.Areas.adminPanel.Models;
@model CreateBorrowViewModel
@{
    ViewData["Title"] = "Borrow Book";
}

<h1 class="bg-info text-white">@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-6">

        <form asp-action="Borrowing" method="post">
            <div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="MemberId" class="control-label">Choose a Member</label>
                            <select class="form-control" asp-for="MemberId"
                                    asp-items='new SelectList(Model.Members, "Id", "UserName")'>
                                <option value="">Choose a Member</option>
                            </select>
                            <span asp-validation-for="MemberId" class="error"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="BookId" class="control-label">Choose a Book</label>
                            <select class="form-control" asp-for="BookId"
                                    asp-items='new SelectList(Model.Books, "Id", "Title")'>
                                <option value="">Choose a Book</option>
                            </select>
                            <span asp-validation-for="BookId" class="error"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="EmployeeId" class="control-label">EmployeeId</label>
                            <input type="text" class="form-control" asp-for="EmployeeId" readonly>
                            <span asp-validation-for="EmployeeId" class="error"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="BorrowDate" class="control-label">BorrowDate</label>
                            <input type="text" class="form-control" asp-for="BorrowDate" readonly>
                            <span asp-validation-for="BorrowDate" class="error"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="IdealReturnDate" class="control-label">IdealReturnDate</label>
                            <input type="text" class="form-control" asp-for="IdealReturnDate" required>
                            <span asp-validation-for="IdealReturnDate" class="error"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="ReturnEmployeeId" class="control-label">ReturnEmployeeId</label>
                                <input type="text" class="form-control" asp-for="ReturnEmployeeId" disabled>
                                <span asp-validation-for="ReturnEmployeeId" class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="ReturnDate" class="control-label">ReturnDate</label>
                                <input type="text" class="form-control" asp-for="ReturnDate" disabled>
                                <span asp-validation-for="ReturnDate" class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Description" class="control-label">Description</label>
                                <textarea class="form-control autogrow" asp-for="Description"
                                          style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 104px;"></textarea>
                                <span asp-validation-for="Description" class="error"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <a class="btn btn-default waves-effect" asp-action="Index">Back</a>
                <button type="submit" class="btn btn-info waves-effect waves-light">Borrow</button>
            </div>
        </form>
    </div>
</div>