<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="sadeq">

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/dashboard/">

    @* <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3"> *@


    <title>@ViewData["Title"] | Control Panel</title>

    <script src="/APTheme/vendor/dist/js/color-modes.js"></script>

    <!-- Custom fonts for this template-->
    <link href="~/APTheme/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!--template-->
    <link href="/APTheme/vendor/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/APTheme/css/sidebars.css" rel="stylesheet">
    <link href="/APTheme/css/dashboard.css" rel="stylesheet">
</head>

<body>

    @* <partial name="_themeColor" /> *@

    <div class="container-fluid">
        <div class="row row-cols-2">

            <nav class="col-sm-3 sidebar border border-right col-lg-2 d-md-block collapse">
                <partial name="_sidebar" />
            </nav>

            <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

                <div class="row">
                    <partial name="_topBar" />
                </div>

                <div class="row">
                    <div class="mb-3" id="globalTitle">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title"> @ViewData["Title"] </h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    @RenderBody()
                </div>

                <footer class="row">
                    <partial name="_footer" />
                </footer>

            </div>
        </div>
    </div>


    <partial name="_scrollTop" />

    <partial name="_logout" />


    <!-- Bootstrap core JavaScript-->
    <script src="/APTheme/vendor/jquery/jquery-3.7.1.min.js"></script>

    <script src="/APTheme/vendor/dist/js/bootstrap.min.js"></script>
    <script src="/APTheme/vendor/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/APTheme/vendor/jquery-easing/jquery.easing.min.js"></script>

</body>
</html>

