@using LibIdentity.Domain.UserAgg;
@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;

@inject SignInManager<UserIdentity> SignInManager
@inject UserManager<UserIdentity> UserManager

@{
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<style>
    /*recodeeeee drop down*/
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @@media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

    .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
    }

    .bi {
        vertical-align: -.125em;
        fill: currentColor;
    }

    .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
    }

        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }
    /*recodeeeee*/


    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
    }

    .bi {
        vertical-align: -.125em;
        fill: currentColor;
    }

    .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
    }

        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }
</style>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="sidelogo" viewBox="0 0 64.000000 42.000000" preserveAspectRatio="xMidYMid meet">
        <g transform="translate(0.000000,42.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M21 315 c3 -61 19 -151 39 -209 9 -30 21 -41 54 -55 54 -24 194 -56 202 -48 17 16 -16 54 -57 66 -26 8 -38 16 -29 19 17 6 30 22 30 38 0 6 -23 21 -51 34 -28 13 -53 28 -55 32 -3 5 19 -4 50 -19 55 -27 89 -25 51 3 -19 14 -18 15 10 7 59 -15 118 -8 159 20 38 27 77 38 45 14 -21 -16 -79 -164 -72 -183 7 -18 27 -18 92 2 85 25 97 43 128 194 1 8 5 44 8 79 l6 64 -63 -5 c-66 -6 -172 -49 -214 -89 -25 -23 -37 -24 -55 -3 -26 31 -161 87 -222 92 l-59 5 3 -58z" />
        </g>
    </symbol>
    <symbol id="files" viewBox="0 0 16 16">
        <path d="M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1zM3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4z" />
    </symbol>
    <symbol id="image-fill" viewBox="0 0 16 16">
        <path d="M.002 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-12a2 2 0 0 1-2-2V3zm1 9v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V9.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12zm5-6.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0z" />
    </symbol>
    <symbol id="employee" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
        <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022ZM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4" />
    </symbol>
    <symbol id="person" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664z" />
    </symbol>
</svg>

<div class="flex-shrink-0 p-3 position-sticky pt-3 sidebar-sticky">
    <a asp-controller="Home" asp-action="Index"
       class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
        <svg class="bi pe-none me-2" width="64" height="42"><use xlink:href="#sidelogo" /></svg>
        <span class="fs-5 fw-semibold">Library II</span>
    </a>
    <ul class="ps-0 nav flex-column">
        @if (User.IsInRole("admin") || User.IsInRole("manager"))
        {
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                        data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                    Book
                </button>
                <div class="collapse" id="home-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li>
                            <a asp-controller="BookCategories" asp-action="Index"
                               class="link-dark d-inline-flex text-decoration-none rounded">Categories</a>
                        </li>
                        <li>
                            <a asp-controller="Books" asp-action="Index"
                               class="link-dark d-inline-flex text-decoration-none rounded">Books</a>
                        </li>
                        <li>
                            <a asp-controller="Authors" asp-action="Index"
                               class="link-dark d-inline-flex text-decoration-none rounded">Author</a>
                        </li>
                        <li>
                            <a asp-controller="Publishers" asp-action="Index"
                               class="link-dark d-inline-flex text-decoration-none rounded">Publisher</a>
                        </li>
                        <li>
                            <a asp-controller="Translators" asp-action="Index"
                               class="link-dark d-inline-flex text-decoration-none rounded">Translator</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                        data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="true">
                    Inventory
                </button>
                <div class="collapse" id="dashboard-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li>
                            <a asp-controller="Inventory" asp-action="Index"
                               class="link-dark d-inline-flex text-decoration-none rounded">Inventory</a>
                        </li>
                        <li>
                            <a asp-controller="Inventory" asp-action="Create"
                               class="link-dark d-inline-flex text-decoration-none rounded">Add New Inventory</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                        data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="true">
                    Loans
                </button>
                <div class="collapse" id="orders-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li>
                            <a asp-controller="Borrows" asp-action="Index"
                               class="link-dark d-inline-flex text-decoration-none rounded">Loans</a>
                        </li>
                        <li>
                            <a asp-controller="Borrows" asp-action="Lending"
                               class="link-dark d-inline-flex text-decoration-none rounded">Add New Lend</a>
                        </li>
                        <li>
                            <a hasp-controller="Borrows" asp-action="PendingLoans"
                               class="link-dark d-inline-flex text-decoration-none rounded">Pending Loans</a>
                        </li>
                        <li>
                            <a asp-controller="Borrows" asp-action="ApprovedLoans"
                               class="link-dark d-inline-flex text-decoration-none rounded">Approved Loans</a>
                        </li>
                        <li>
                            <a asp-controller="Borrows" asp-action="ReturnedLoans"
                               class="link-dark d-inline-flex text-decoration-none rounded">Returned Loans</a>
                        </li>
                        <li>
                            <a asp-controller="Borrows" asp-action="OverdueLoans"
                               class="link-dark d-inline-flex text-decoration-none rounded">Overdue Loans</a>
                        </li>
                        <li>
                            <a asp-controller="Borrows" asp-action="DeletedLoans"
                               class="link-dark d-inline-flex text-decoration-none rounded">Deleted Loans</a>
                        </li>
                    </ul>
                </div>
            </li>
        }
        @if (User.IsInRole("admin"))
        {
            <li class="border-top my-3"></li>
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                        data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                    Members
                </button>
                <div class="collapse" id="account-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li>
                            <a asp-controller="Users" asp-action="Index"
                               class="link-dark d-inline-flex text-decoration-none rounded">Members</a>
                        </li>
                        <li>
                            <a asp-controller="Users" asp-action="Create"
                               class="link-dark d-inline-flex text-decoration-none rounded">Add New Member</a>
                        </li>
                        <li>
                            <a asp-controller="Roles" asp-action="Index"
                               class="link-dark d-inline-flex text-decoration-none rounded">Roles</a>
                        </li>
                        <li>
                            <a asp-controller="Roles" asp-action="Create"
                               class="link-dark d-inline-flex text-decoration-none rounded">Add New Roles</a>
                        </li>
                        <li>
                            <a asp-controller="Users" asp-action="AssignRole"
                               class="link-dark d-inline-flex text-decoration-none rounded">Assign Role</a>
                        </li>
                    </ul>
                </div>
            </li>
        }
        @if (!SignInManager.IsSignedIn(User))
        {
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                    Welcome !
                </button>
                <div class="collapse show" id="home-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li>
                            <a asp-area="default" asp-controller="Account" asp-action="Login" asp-route-returnUrl=@Context.Request.Path
                               class="link-dark d-inline-flex text-decoration-none rounded">Sign in</a>
                        </li>
                        <li>
                            <a asp-area="default" asp-controller="Account" asp-action="Register"
                               class="link-dark d-inline-flex text-decoration-none rounded">Sign up</a>
                        </li>
                        <li>
                            <a asp-area="default" asp-controller="Account" asp-action="ForgotPassword"
                               class="link-dark d-inline-flex text-decoration-none rounded btn disabled">Forget Password</a>
                        </li>
                    </ul>
                </div>
            </li>
        }
    </ul>
    <hr>
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="~/APTheme/img/undraw_profile.svg" alt="" width="32" height="32" class="rounded-circle me-2">
                Hello<strong>&nbsp;@User.Identity.Name!&nbsp</strong>
            </a>
            <cite title="Source Title" class="ml-4">
                (@string.Join(", ", await UserManager.GetRolesAsync(await UserManager.GetUserAsync(User))))
            </cite>

            <ul class="dropdown-menu p-2 gap-1 mx-4 rounded-3 animated--grow-in">
                <li>
                    <a href="javascript:void(0);" onclick="GoToMemberBorrowsPage('@userId')"
                       class="dropdown-item d-flex gap-2 align-items-center">
                        <svg class="bi" width="16" height="16"><use xlink:href="#person" /></svg>
                        Member Borrows
                    </a>
                </li>
                @if (User.IsInRole("admin") || User.IsInRole("manager"))
                {
                    <li>
                        <a asp-area="adminPanel" asp-controller="Home" asp-action="EmployeeBorrows"
                           class="dropdown-item d-flex gap-2 align-items-center">
                            <svg class="bi" width="16" height="16"><use xlink:href="#employee" /></svg>
                            Employee Borrows
                        </a>
                    </li>
                }
                <li>
                    <a class="dropdown-item d-flex gap-2 align-items-center" href="#">
                        <svg class="bi" width="16" height="16"><use xlink:href="#files" /></svg>
                        Settings
                    </a>
                </li>
                <li>
                    <a class="dropdown-item d-flex gap-2 align-items-center" href="#">
                        <svg class="bi" width="16" height="16"><use xlink:href="#image-fill" /></svg>
                        Photos
                    </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Logout
                    </button>
                </li>
            </ul>
        </div>
    }
</div>

<script>
    function GoToMemberBorrowsPage(userId) {
        window.location.href = '/adminPanel/Home/MemberBorrows?memberId=' + userId;
    }
</script>