@using Identity.Domain.Entities.User
@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<style>
    /*recodeeeee drop down*/
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @@media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

    .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
    }

    .bi {
        vertical-align: -.125em;
        fill: currentColor;
    }

    .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
    }

        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }
    /*recodeeeee*/


    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
    }

    .bi {
        vertical-align: -.125em;
        fill: currentColor;
    }

    .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
    }

        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }
</style>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="sidelogo" viewBox="0 0 64.000000 42.000000" preserveAspectRatio="xMidYMid meet">
        <g transform="translate(0.000000,42.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M21 315 c3 -61 19 -151 39 -209 9 -30 21 -41 54 -55 54 -24 194 -56 202 -48 17 16 -16 54 -57 66 -26 8 -38 16 -29 19 17 6 30 22 30 38 0 6 -23 21 -51 34 -28 13 -53 28 -55 32 -3 5 19 -4 50 -19 55 -27 89 -25 51 3 -19 14 -18 15 10 7 59 -15 118 -8 159 20 38 27 77 38 45 14 -21 -16 -79 -164 -72 -183 7 -18 27 -18 92 2 85 25 97 43 128 194 1 8 5 44 8 79 l6 64 -63 -5 c-66 -6 -172 -49 -214 -89 -25 -23 -37 -24 -55 -3 -26 31 -161 87 -222 92 l-59 5 3 -58z" />
        </g>
    </symbol>
    <symbol id="files" viewBox="0 0 16 16">
        <path d="M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1zM3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4z" />
    </symbol>
    <symbol id="image-fill" viewBox="0 0 16 16">
        <path d="M.002 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-12a2 2 0 0 1-2-2V3zm1 9v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V9.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12zm5-6.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0z" />
    </symbol>
    <symbol id="employee" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
        <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022ZM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4" />
    </symbol>
    <symbol id="person" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664z" />
    </symbol>
    <symbol id="avatar" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
    </symbol>



    <symbol id="book" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
        <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783" />
    </symbol>
    <symbol id="archive" fill="currentColor" class="bi bi-archive" viewBox="0 0 16 16">
        <path d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 12.5V5a1 1 0 0 1-1-1zm2 3v7.5A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5V5zm13-3H1v2h14zM5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5" />
    </symbol>

    <symbol id="lend" viewBox="0 0 85.000000 85.000000" preserveAspectRatio="xMidYMid meet">
        <g transform="translate(0.000000,85.000000) scale(0.100000,-0.100000)"
           fill="#000000" stroke="none">
            <path d="M552 831 c-112 -5 -145 -9 -152 -21 -5 -8 -10 -88 -10 -177 0 -150 2 -165 20 -183 11 -11 30 -20 43 -20 21 0 22 -3 19 -60 l-4 -60 -114 0 c-69 0 -114 -4 -114 -10 0 -6 41 -10 103 -10 l103 0 0 -35 0 -36 -125 3 c-139 3 -129 -3 -114 69 7 35 -19 56 -52 41 l-25 -12 0 170 c0 162 8 220 30 220 6 0 10 -64 10 -182 0 -135 3 -179 11 -171 8 8 11 68 10 187 l-2 176 91 0 c58 0 89 4 85 10 -3 6 -50 10 -106 10 -93 0 -102 -2 -124 -25 -24 -23 -25 -28 -25 -174 l0 -149 -34 -40 c-38 -47 -52 -118 -35 -192 6 -25 14 -67 17 -95 l7 -50 100 0 100 0 6 55 c3 30 9 63 13 72 4 9 5 22 1 29 -11 17 -35 -46 -35 -92 l0 -39 -84 0 -84 0 -7 47 c-3 27 -8 84 -11 128 -5 74 -3 83 20 114 l26 35 0 -35 c0 -19 -4 -39 -10 -45 -15 -15 -25 -104 -12 -104 6 0 14 20 18 45 4 33 14 52 37 71 40 33 60 18 35 -27 -16 -28 -17 -32 -2 -55 11 -16 15 -36 11 -59 -4 -26 -2 -35 9 -35 10 0 14 12 14 40 l0 40 138 0 c76 0 142 3 145 7 4 3 -2 12 -13 20 -26 18 -25 38 1 57 18 12 20 22 17 80 l-3 66 51 0 51 0 -5 -55 c-4 -44 -1 -55 10 -55 8 0 39 25 67 55 39 41 59 55 80 55 15 0 36 6 47 14 18 14 19 26 16 188 -2 162 -4 174 -23 191 -13 10 -35 16 -58 15 -20 -1 -100 -4 -179 -7z m236 -198 l2 -173 -37 0 c-32 0 -44 -7 -84 -50 -26 -27 -49 -50 -51 -50 -2 0 -2 20 0 45 l4 45 -68 1 c-38 1 -78 1 -89 0 -42 -2 -45 8 -47 175 -1 88 2 165 6 172 6 9 51 12 184 10 l177 -3 3 -172z" />
            <path d="M529 747 c-96 -64 -84 -199 21 -241 54 -21 60 -20 60 9 0 23 -2 24 -20 13 -16 -11 -25 -10 -47 4 -30 18 -69 81 -53 86 5 2 7 16 4 30 -10 48 75 125 98 90 6 -10 10 -10 18 2 8 13 14 13 44 -4 42 -22 76 -83 55 -97 -12 -8 -12 -10 -1 -18 20 -12 -11 -68 -49 -89 -31 -18 -38 -32 -15 -32 20 0 65 38 81 70 63 122 -83 253 -196 177z" />
            <path d="M590 660 c0 -36 3 -40 25 -40 14 0 25 5 25 10 0 6 -7 10 -15 10 -10 0 -15 10 -15 30 0 17 -4 30 -10 30 -5 0 -10 -18 -10 -40z" />
        </g>
    </symbol>

    <symbol id="people" viewBox="0 0 16 16">
        <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8Zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022ZM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816ZM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4Z" />
    </symbol>
    <symbol id="search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
    </symbol>
</svg>



<div class="p-4">
    <a asp-controller="Home" asp-action="Index"
       class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
        <svg class="pe-none me-2" width="64" height="42">
            <use xlink:href="#sidelogo" />
        </svg>
        <span class="fs-5 fw-semibold">Library II</span>
    </a>
    <ul class="list-unstyled ps-0">
        @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
        {
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                        data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                    <svg class="bi m-lg-1"><use xlink:href="#book" /></svg>
                    Book
                </button>
                <div class="collapse show" id="home-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li>
                            <a asp-controller="BookCategories" asp-action="Index"
                               class="link-dark d-inline-flex text-decoration-none rounded">Categories</a>
                        </li>
                        <li>
                            <a asp-controller="Books" asp-action="Index"
                               class="link-dark d-inline-flex text-decoration-none rounded">Books</a>
                        </li>
                        <li>
                            <a asp-controller="Authors" asp-action="Index"
                               class="link-dark d-inline-flex text-decoration-none rounded">Author</a>
                        </li>
                        <li>
                            <a asp-controller="Publishers" asp-action="Index"
                               class="link-dark d-inline-flex text-decoration-none rounded">Publisher</a>
                        </li>
                        <li>
                            <a asp-controller="Translators" asp-action="Index"
                               class="link-dark d-inline-flex text-decoration-none rounded">Translator</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                        data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="true">
                    <svg class="bi m-lg-1"><use xlink:href="#archive" /></svg>
                    Inventory
                </button>
                <div class="collapse" id="dashboard-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li>
                            <a asp-controller="Inventory" asp-action="Index"
                               class="link-dark d-inline-flex text-decoration-none rounded">Inventory</a>
                        </li>
                        <li>
                            <a asp-controller="Inventory" asp-action="Create"
                               class="link-dark d-inline-flex text-decoration-none rounded">Add New Inventory</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                        data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="true">
                    <svg class="bi m-lg-1" width="16" height="16"><use xlink:href="#lend" /></svg>
                    Loans
                </button>
                <div class="collapse" id="orders-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li>
                            <a asp-controller="Borrows" asp-action="Index"
                               class="link-dark d-inline-flex text-decoration-none rounded">Loans</a>
                        </li>
                        <li>
                            <a asp-controller="Borrows" asp-action="Lending"
                               class="link-dark d-inline-flex text-decoration-none rounded">Add New Lend</a>
                        </li>
                        <li>
                            <a hasp-controller="Borrows" asp-action="PendingLoans"
                               class="link-dark d-inline-flex text-decoration-none rounded">Pending Loans</a>
                        </li>
                        <li>
                            <a asp-controller="Borrows" asp-action="ApprovedLoans"
                               class="link-dark d-inline-flex text-decoration-none rounded">Approved Loans</a>
                        </li>
                        <li>
                            <a asp-controller="Borrows" asp-action="ReturnedLoans"
                               class="link-dark d-inline-flex text-decoration-none rounded">Returned Loans</a>
                        </li>
                        <li>
                            <a asp-controller="Borrows" asp-action="OverdueLoans"
                               class="link-dark d-inline-flex text-decoration-none rounded">Overdue Loans</a>
                        </li>
                        <li>
                            <a asp-controller="Borrows" asp-action="DeletedLoans"
                               class="link-dark d-inline-flex text-decoration-none rounded">Deleted Loans</a>
                        </li>
                    </ul>
                </div>
            </li>
        }
        @if (User.IsInRole("Admin"))
        {
            <li class="border-top my-3"></li>
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                        data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                    Members
                </button>
                <div class="collapse" id="account-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li>
                            <a asp-controller="Users" asp-action="Index"
                               class="link-dark d-inline-flex text-decoration-none rounded">Members</a>
                        </li>
                        <li>
                            <a asp-controller="Users" asp-action="Create"
                               class="link-dark d-inline-flex text-decoration-none rounded">Add New Member</a>
                        </li>
                        <li>
                            <a asp-controller="Roles" asp-action="Index"
                               class="link-dark d-inline-flex text-decoration-none rounded">Roles</a>
                        </li>
                        <li>
                            <a asp-controller="Roles" asp-action="Create"
                               class="link-dark d-inline-flex text-decoration-none rounded">Add New Roles</a>
                        </li>
                        <li>
                            <a asp-controller="Users" asp-action="AssignRole"
                               class="link-dark d-inline-flex text-decoration-none rounded">Assign Role</a>
                        </li>
                    </ul>
                </div>
            </li>
        }
        @if (!SignInManager.IsSignedIn(User))
        {
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                    Welcome !
                </button>
                <div class="collapse show" id="home-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li>
                            <a asp-area="default" asp-controller="Account" asp-action="Login" asp-route-returnUrl=@Context.Request.Path
                               class="link-dark d-inline-flex text-decoration-none rounded">Sign in</a>
                        </li>
                        <li>
                            <a asp-area="default" asp-controller="Account" asp-action="Register"
                               class="link-dark d-inline-flex text-decoration-none rounded">Sign up</a>
                        </li>
                        <li>
                            <a asp-area="default" asp-controller="Account" asp-action="ForgotPassword"
                               class="link-dark d-inline-flex text-decoration-none rounded btn disabled">Forget Password</a>
                        </li>
                    </ul>
                </div>
            </li>
        }
    </ul>
    <hr>
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <svg class="bi" width="32" height="32"><use xlink:href="#avatar" /></svg>
                &nbspHello<strong>&nbsp;@User.Identity.Name!&nbsp</strong>
            </a>
            <cite title="Source Title" class="ml-4">
                (@string.Join(", ", await UserManager.GetRolesAsync(await UserManager.GetUserAsync(User))))
            </cite>

            <ul class="dropdown-menu p-2 gap-1 mx-4 rounded-3 animated--grow-in">
                <li>
                    <a href="javascript:void(0);" onclick="GoToMemberBorrowsPage('@userId')"
                       class="dropdown-item d-flex gap-2 align-items-center">
                        <svg class="bi" width="16" height="16"><use xlink:href="#person" /></svg>
                        Member Borrows
                    </a>
                </li>
                @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                {
                    <li>
                        <a asp-area="adminPanel" asp-controller="Home" asp-action="EmployeeBorrows"
                           class="dropdown-item d-flex gap-2 align-items-center">
                            <svg class="bi" width="16" height="16"><use xlink:href="#employee" /></svg>
                            Employee Borrows
                        </a>
                    </li>
                }
                <li>
                    <a class="dropdown-item d-flex gap-2 align-items-center" href="#">
                        <svg class="bi" width="16" height="16"><use xlink:href="#files" /></svg>
                        Settings
                    </a>
                </li>
                <li>
                    <a class="dropdown-item d-flex gap-2 align-items-center" href="#">
                        <svg class="bi" width="16" height="16"><use xlink:href="#image-fill" /></svg>
                        Photos
                    </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Logout
                    </button>
                </li>
            </ul>
        </div>
    }
</div>


<script>
    function GoToMemberBorrowsPage(userId) {
        window.location.href = '/adminPanel/Home/MemberBorrows?memberId=' + userId;
    }
</script>