@using Library.EndPoint.Areas.adminPanel.Models;
@model UserRoleViewModel
@{
    ViewData["Title"] = "Remove User From Role";
}

<div class="row">
    <div class="col-md-6">

        <form asp-action="RemoveUserFromRole" method="post">
            <div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="UserId" class="control-label">Choose a Member</label>
                            <select class="form-control" asp-for="UserId"
                                    asp-items='new SelectList(Model.Users, "Id", "UserName")'>
                                <option value="">Choose a Member</option>
                            </select>
                            <span asp-validation-for="UserId" class="error"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="RoleId" class="control-label">Choose a Role</label>
                            <select class="form-control" asp-for="RoleId"
                                    asp-items='new SelectList(Model.Roles, "Id", "Name")'>
                                <option value="">Choose a Role</option>
                            </select>
                            <span asp-validation-for="RoleId" class="error"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <a class="btn btn-default waves-effect" asp-action="Index">Back</a>
                <button type="submit" class="btn btn-info waves-effect waves-light">Remove</button>
            </div>
        </form>
    </div>
</div>