@using LibIdentity.DomainContracts.UserContracts;
@model UserViewModel

@{
    ViewData["Title"] = "Update";
}

<h1 class="bg-info text-white">Update User</h1>
<div class="row">
    <div class="col-md-6">
        <form asp-controller="Users" asp-action="Update" asp-area="adminPanel" id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" required />
                <span asp-validation-for=FirstName></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" required />
                <span asp-validation-for=LastName></span>

            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for=BirthDate></span>

            </div>
            <div class="form-floating">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" required />
                <span asp-validation-for=UserName></span>

            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" type="password" class="form-control form-control-user"
                           id="exampleInputPassword" placeholder="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control form-control-user"
                           id="exampleRepeatPassword" placeholder="Repeat Password" required>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-floating">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br />
            <div>
@*                <input type="hidden" asp-for="Id" value="@Model.Id" />*@
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

<div>

</div>
