@using Warehouse.Application.DTOs.Inventory
@model CreateInventory

@{
    ViewData["Title"] = "Create";
}

<div class="card border-primary">
    <div class="card-body">
        <h5 class="card-title">Create Inventory</h5>
        <div class="card-text m-2">add inventory of a book.</div>
        <form asp-controller="Inventory" asp-action="Create" method="post">
            <div class="form-group">
                <label asp-for="BookId" class="control-label">Choose a Book</label>
                <select class="form-control" asp-for="BookId"
                        asp-items='new SelectList(Model.Books, "Id", "Title")'>
                    <option value="">Choose Book</option>
                </select>
                <span asp-validation-for="BookId" class="error"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitPrice" class="control-label">Unit Price</label>
                <input type="text" class="form-control" asp-for="UnitPrice" required>
                <span asp-validation-for="UnitPrice" class="error"></span>
            </div>
            <div>
                <a class="btn btn-secondary waves-effect" asp-controller="Inventory" asp-action="Index">Back</a>
                <button type="submit" class="btn btn-info waves-effect waves-light">Create</button>
            </div>
        </form>
    </div>
</div>
