@using Warehouse.Application.DTOs
@model IncreaseInventory
@{
    ViewData["Title"] = "Increase";
}

<div class="card border-primary">
    <div class="card-body">
        <h5 class="card-title">Increase Item</h5>
        <div class="card-text m-2">The number of copies you want to add to the book inventory</div>
        <form asp-controller="Inventory" asp-action="Increase" method="post">
            <div class="form-group">
                <label asp-for="Count" class="control-label">Count</label>
                <input class="form-control" asp-for="Count" required />
                <span asp-validation-for="Count" class="error"></span>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1" class="form-label" asp-for="Description">Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" row="3" asp-for="Description" required></textarea>
                <span asp-validation-for="Description" class="error"></span>
            </div>
            <input type="hidden" asp-for="InventoryId" value="@Model.InventoryId" />
            <div>
                <a class="btn btn-secondary waves-effect" asp-controller="Inventory" asp-action="Index">Back</a>
                <button type="submit" class="btn btn-info waves-effect waves-light">Increase</button>
            </div>
        </form>
    </div>
</div>
