@using Warehouse.Application.DTOs.Inventory
@model EditInventory

@{
    ViewData["Title"] = "Update";
}

<div class="card border-primary">
    <div class="card-body">
        <h5 class="card-title">Update inventory Item</h5>
        <div class="card-text m-2">update inventory of book.</div>
        <form asp-controller="Inventory" asp-action="Update" method="post">
                    <div class="form-group">
                        <label asp-for="BookId" class="control-label">Choose a Book</label>
                        <select class="form-control" asp-for="BookId"
                                asp-items='new SelectList(Model.Books, "Id", "Title")'>
                            <option value="">Book Name</option>
                        </select>
                        <span asp-validation-for="BookId" class="error"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UnitPrice" class="control-label">Lend fee</label>
                        <input type="text" class="form-control" asp-for="UnitPrice" required>
                        <span asp-validation-for="UnitPrice" class="error"></span>
                    </div>
            <input type="hidden" asp-for="Id" value="@Model.Id" />
            <div>
                <a class="btn btn-secondary waves-effect" asp-controller="Inventory" asp-action="Index">Back</a>
                <button type="submit" class="btn btn-info waves-effect waves-light">Save</button>
            </div>
        </form>
    </div>
</div>