@using Library.EndPoint.MVC.Areas.adminPanel.Models;
@model UpdateBorrowViewModel
@{
    ViewData["Title"] = "Update Lend";
}

<div class="row">
    <div class="col-md-6">

        <form asp-action="Update" method="post">
            <div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Lend.MemberId" class="control-label">Choose a Member</label>
                            <select class="form-control" asp-for="Lend.MemberId"
                                    asp-items='new SelectList(Model.Members, "Id", "UserName")'>
                                <option value="Lend.MemberId">Choose a Member</option>
                            </select>
                            <span asp-validation-for="Lend.MemberId" class="error"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Lend.BookId" class="control-label">Choose a Book</label>
                            <select class="form-control" asp-for="Lend.BookId"
                                    asp-items='new SelectList(Model.Books, "Id", "Title")'>
                                <option value="Lend.BookId">Choose a Book</option>
                            </select>
                            <span asp-validation-for="Lend.BookId" class="error"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Lend.EmployeeId" class="control-label">Employee</label>
                            <input type="text" class="form-control" asp-for="Lend.EmployeeId" readonly>
                            <span asp-validation-for="Lend.EmployeeId" class="error"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Lend.CreationDate" class="control-label">Lend Date</label>
                            <input type="text" class="form-control" asp-for="Lend.CreationDate" readonly>
                            <span asp-validation-for="Lend.CreationDate" class="error"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Lend.IdealReturnDate" class="control-label">Ideal Return Date</label>
                            <input type="text" class="form-control" asp-for="Lend.IdealReturnDate" readonly>
                            <span asp-validation-for="Lend.IdealReturnDate" class="error"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Lend.ReturnEmployeeID" class="control-label">Return Employee</label>
                                <input type="text" class="form-control" asp-for="Lend.ReturnEmployeeID" readonly>
                                <span asp-validation-for="Lend.ReturnEmployeeID" class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Lend.ReturnDate" class="control-label">Return Date</label>
                                <input type="text" class="form-control" asp-for="Lend.ReturnDate" readonly>
                                <span asp-validation-for="Lend.ReturnDate" class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Lend.Description" class="control-label">Description</label>
                                <textarea class="form-control autogrow" asp-for="Lend.Description"
                                          style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 104px;"></textarea>
                                <span asp-validation-for="Lend.Description" class="error"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" asp-for="Lend.Id" value="@Model.Lend.Id" />

            </div>
            <div>
                <a class="btn btn-default " asp-action="Index">Back</a>
                <button type="submit" class="btn btn-info waves-effect waves-light">Update</button>
            </div>
        </form>
    </div>
</div>